demo_csharp_01/DemoCSharp/bin/*
demo_csharp_01/DemoCSharp/obj/*
demo_csharp_01/DemoCSharp/OOP_demo/bin/*
demo_csharp_01/DemoCSharp/OOP_demo/obj/*
demo_csharp_01/DemoCSharp/OOP_demo_01/bin/*
demo_csharp_01/DemoCSharp/OOP_demo_01/obj/*
demo_csharp_01/DemoCSharp/OOP_demo_02/bin/*
demo_csharp_01/DemoCSharp/OOP_demo_02/obj/*
demo_csharp_01/DemoCSharp/Practice_01/bin/*
demo_csharp_01/DemoCSharp/Practice_01/obj/*
demo_csharp_01/DemoCSharp/Practice_02/obj/*
demo_csharp_01/DemoCSharp/Practice_02/bin/*
demo_csharp_01/DemoCSharp/Practice_03/obj/*
demo_csharp_01/DemoCSharp/Practice_03/bin/*
DemoEntityFramework/DemoEntityFramework/bin/*
DemoEntityFramework/DemoEntityFramework/obj/*
